<div class="container">
  <h1>Register Form</h1>
  <hr>
  <div class="row">
    
    <form name="form" (ngSubmit)="registerForm.form.valid && onSubmit()" #registerForm="ngForm" [mustMatch]="['password', 'confirmPassword']"
      novalidate>
      <div class="form-row">
        <div class="form-group col-6">
          <label>First Name</label>
          <input type="text" name="firstName" class="form-control" minlength="3" maxlength="16"
            [(ngModel)]="model.firstName" #firstName="ngModel"
            [ngClass]="{ 'is-invalid': registerForm.submitted && firstName.invalid }" required>
          <div *ngIf="registerForm.submitted && firstName.invalid" class="invalid-feedback">
            <div *ngIf="firstName.errors.required">First Name is required</div>
          </div>
          <div *ngIf="registerForm.submitted && firstName.invalid" class="invalid-feedback">
            <div *ngIf="firstName.errors.minlength && !firstName.errors.required">FirstName length is more than 3
            </div>
          </div>
          <div *ngIf="registerForm.submitted && firstName.invalid" class="invalid-feedback">
            <div *ngIf="firstName.errors.maxlength && !firstName.errors.required">FirstName length max 16 only</div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Last Name</label>
          <input type="text" name="lastName" minlength="3" maxlength="16" class="form-control"
            [(ngModel)]="model.lastName" #lastName="ngModel"
            [ngClass]="{ 'is-invalid': registerForm.submitted && lastName.invalid }" required>
          <div *ngIf="registerForm.submitted && lastName.invalid" class="invalid-feedback">
            <div *ngIf="lastName.errors.required">Last Name is required</div>
          </div>
          <div *ngIf="registerForm.submitted && lastName.invalid" class="invalid-feedback">
            <div *ngIf="lastName.errors.minlength && !lastName.errors.required">LastName length is more than 3
            </div>
          </div>
          <div *ngIf="registerForm.submitted && lastName.invalid" class="invalid-feedback">
            <div *ngIf="lastName.errors.maxlength && !lastName.errors.required">LastName length max 16 only</div>
          </div>

        </div>
        <div class="form-group col-6">
          <label>Contact Number</label>
          <input type="text" name="contact" pattern="^[7-9][0-9]*$"  maxlength="10"
          oninput="if(!this.value.match('^[7-9][0-9]*$'))this.value='';" class="form-control" [(ngModel)]="model.contact" #contact="ngModel"
            [ngClass]="{ 'is-invalid': registerForm.submitted && contact.invalid }" required>
          <div *ngIf="registerForm.submitted && contact.invalid" class="invalid-feedback">
            <div *ngIf="contact.errors.required">Contact Number is required</div>
          </div>
          <div *ngIf="registerForm.submitted && contact.invalid" class="invalid-feedback">
            <div *ngIf="contact.errors.maxlength&&!contact.errors.required">Contact Numbershould be 10 nubers only</div>
          </div>
         
          
        </div>
        <div class="form-group col-6">
          <label>Email</label>
          <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel"
            [ngClass]="{ 'is-invalid': registerForm.submitted && email.invalid }" required email>
          <div *ngIf="registerForm.submitted && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          <label>Password</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="model.password" #password="ngModel"
            [ngClass]="{ 'is-invalid': registerForm.submitted && password.invalid }" required minlength="6">
          <div *ngIf="registerForm.submitted && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group col-6">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" [(ngModel)]="model.confirmPassword"
            #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': registerForm.submitted && confirmPassword.invalid }" required>
          <div *ngIf="registerForm.submitted && confirmPassword.invalid" class="invalid-feedback">
            <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1" [disabled]='!registerForm.valid' >Submit</button>

      </div>
    </form>
  </div>
</div>